<div class="container my-3">
  <div class="row text-white">
    <div class="col-12 my-2">
      <div
        (click)="navigateBack()"
        class="btn btn-sm btn-dark"
        title="dashboard"
      >
        <i class="fa-thin fa-chevron-left"></i>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="text-center text-info">
        {{ launch?.name }}
      </h1>
      <h6 class="text-center">Flight #{{ launch?.flight_number }}</h6>
      <div *ngIf="launch?.details" class="card bg-transparent">
        <div class="card-header">
          <h5><i class="fa-duotone fa-memo-circle-info"></i> Fight Details</h5>
        </div>
        <div class="card-body">
          <p>{{ launch?.details }}</p>
        </div>
      </div>
      <hr *ngIf="rocketForLaunch?.id" />
      <ng-container *ngIf="rocketForLaunch?.id">
        <div class="row">
          <div class="col-8">
            <h5>
              <i class="fa-duotone fa-shuttle-space fa-rotate-270"></i> Rocket
              <small class="text-muted">{{ rocketForLaunch?.name }} </small>
            </h5>
          </div>
          <div class="col-4">
            <div class="text-end">
              <ng-container *ngIf="rocketForLaunch?.active">
                <p style="color: #1ea97c">Active</p>
              </ng-container>
              <ng-container *ngIf="!rocketForLaunch?.active">
                <p style="color: #dc3545">Non active</p>
              </ng-container>
            </div>
          </div>
          <!-- <div class="col-3">
            <img
              class="rocket-picture"
              src="{{ rocketForLaunch?.flickr_images }}"
              title="{{ rocketForLaunch?.name }}"
            />
          </div> -->
          <div class="offset-3 col-3">
            <p>
              Height<br />
              <small class="text-muted"
                >{{ rocketForLaunch?.height?.meters }} meters</small
              >
            </p>
          </div>
          <div class="col-3">
            <p>
              First flight <br />
              <small class="text-muted">
                {{ rocketForLaunch?.first_flight | date: "mediumDate" }}
              </small>
            </p>
          </div>
          <div class="col-3">
            <a target="_blank">
              <div type="button" title="see more details">
                <i class="fa-thin fa-up-right-from-square"></i>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
      <hr *ngIf="capsulesOnBoardForLaunch?.length" />
      <ng-container *ngFor="let capsulesOnBoard of capsulesOnBoardForLaunch">
        <div class="row">
          <div class="col-8">
            <h5>
              <i class="fa-duotone fa-ufo"></i> Capsule
              <small class="text-muted">{{ capsulesOnBoard?.type }} </small>
            </h5>
          </div>
          <div class="col-4">
            <div class="text-end">
              <ng-container *ngIf="capsulesOnBoard?.status === 'active'">
                <p style="color: #1ea97c">Active</p>
              </ng-container>
              <ng-container *ngIf="capsulesOnBoard?.status === 'retired'">
                <p style="color: #dc3545">Retired</p>
              </ng-container>
              <ng-container *ngIf="capsulesOnBoard?.status === 'unknown'">
                <p style="color: #0dcaf0">Retired</p>
              </ng-container>
            </div>
          </div>
          <div class="offset-3 col-3">
            <p>
              Serial <br />
              <small class="text-muted">
                {{ capsulesOnBoard?.serial }}
              </small>
            </p>
          </div>
          <div class="col-6">
            <p>
              Last update <br />
              <small class="text-muted">
                {{ capsulesOnBoard?.last_update }}
              </small>
            </p>
          </div>
        </div>
      </ng-container>
      <hr *ngIf="payloadsOnBoardForLaunch?.length" />
      <ng-container *ngFor="let payloadsOnBoard of payloadsOnBoardForLaunch">
        <div class="row">
          <div class="col-8">
            <h5>
              <i class="fa-duotone fa-cart-flatbed-boxes"></i> Payloads
              <small class="text-muted">{{ payloadsOnBoard?.name }} </small>
            </h5>
          </div>
          <div class="col-4">
            <div class="text-end">
              <ng-container *ngIf="payloadsOnBoard?.reused">
                <p style="color: #1ea97c">Reused</p>
              </ng-container>
              <ng-container *ngIf="!payloadsOnBoard?.reused">
                <p style="color: #dc3545">Not reused</p>
              </ng-container>
            </div>
          </div>
          <div class="offset-3 col-3">
            <p>
              Type <br />
              <small class="text-muted">
                {{ payloadsOnBoard?.type }}
              </small>
            </p>
          </div>
          <div class="col-3">
            <p>
              Customers <br />
              <small class="text-muted">
                {{ payloadsOnBoard?.customers }}
              </small>
            </p>
          </div>
          <div class="col-3">
            <a target="_blank">
              <div type="button" title="see more details">
                <i class="fa-thin fa-up-right-from-square"></i>
              </div>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-4">
      <ng-container *ngIf="launch?.links?.flickr?.original?.length">
        <img
          class="spacex-launch-picture"
          src="{{ launch?.links?.flickr?.original }}"
          title="{{ launch?.name | titlecase }}"
          onError="this.src='/assets/img/spacex-noimage.jpg';"
      /></ng-container>
      <ng-container
        *ngIf="
          launch?.links?.patch?.large &&
          !launch?.links?.flickr?.original?.length
        "
      >
        <img
          class="spacex-launch-picture"
          src="{{ launch?.links?.patch?.large }}"
          title="{{ launch?.name | titlecase }}"
          onError="this.src='/assets/img/spacex-noimage.jpg';"
      /></ng-container>
      <div class="text-center mt-3">
        <h2 *ngIf="launch?.success" style="color: #1ea97c">Success</h2>
        <h2 *ngIf="!launch?.success" style="color: #dc3545">Failed</h2>
      </div>
      <div *ngIf="!launch?.success">
        <p>Cause of failures:</p>
        <ul>
          <li *ngIf="launch?.failures?.[0]?.time ">
            Time after launch {{ launch?.failures?.[0]?.time }} seconds
          </li>
          <li *ngIf="launch?.failures?.[0]?.altitude ">
            Altitude {{ launch?.failures?.[0]?.altitude }}
          </li>
          <li *ngIf="launch?.failures?.[0]?.reason ">
            Reason {{ launch?.failures?.[0]?.reason | titlecase }}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="launch?.crew.length > 0" class="col-md-2">
      <ng-container *ngFor="let crewOnBoard of crewOnBoardForLaunch">
        <div class="crew-members-container">
          <div>
            <img
              class="crew-members-picture"
              src="{{ crewOnBoard?.image }}"
              title="{{ crewOnBoard?.name }}"
            />
            <p class="crew-name">{{ crewOnBoard?.name }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
