<div class="container my-3">
  <div class="row text-white">
    <div class="col-12 my-2">
      <div
        (click)="navigateBack()"
        class="btn btn-sm btn-dark"
        title="dashboard"
      >
        <i class="fa-thin fa-chevron-left"></i>
      </div>
    </div>
    <div class="col-md-4">
      <ng-container *ngIf="launch?.links?.flickr?.original?.length">
        <img
          class="spacex-launch-picture"
          src="{{ launch?.links?.flickr?.original }}"
          title="{{ launch?.name | titlecase }}"
          onError="this.src='/assets/img/spacex-noimage.jpg';"
      /></ng-container>

      <ng-container
        *ngIf="
          launch?.links?.patch?.large &&
          !launch?.links?.flickr?.original?.length
        "
      >
        <img
          class="spacex-launch-picture"
          src="{{ launch?.links?.patch?.large }}"
          title="{{ launch?.name | titlecase }}"
          onError="this.src='/assets/img/spacex-noimage.jpg';"
      /></ng-container>
      <div class="text-center mt-3">
        <h2 *ngIf="launch?.success" style="color: #1ea97c">Success</h2>
        <h2 *ngIf="!launch?.success" style="color: #ff5757">Failed</h2>
      </div>
      <div *ngIf="!launch?.success">
        <p>Cause of failures:</p>
        <ul>
          <li *ngIf="launch?.failures?.[0]?.time ">
            Time after launch {{ launch?.failures?.[0]?.time }}
          </li>
          <li *ngIf="launch?.failures?.[0]?.altitude ">
            Altitude {{ launch?.failures?.[0]?.altitude }}
          </li>
          <li *ngIf="launch?.failures?.[0]?.reason ">
            Reason {{ launch?.failures?.[0]?.reason | titlecase }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="text-center text-info">
        {{ launch?.name }}
      </h1>
      <h6 class="text-center">Flight #{{ launch?.flight_number }}</h6>
      <div *ngIf="launch?.details" class="card bg-transparent">
        <div class="card-header">
          <h5><i class="fa-duotone fa-memo-circle-info"></i> Fight Details</h5>
        </div>
        <div class="card-body">
          <p>{{ launch?.details }}</p>
        </div>
      </div>
      <div *ngIf="launch?.ships.length > 0" class="card bg-transparent">
        <div class="card-header">
          <h5>
            <i class="fa-duotone fa-shuttle-space fa-rotate-270"></i> Ships
          </h5>
        </div>
        <div class="card-body">
          <p>{{ launch?.ships }}</p>
        </div>
      </div>
      <div *ngIf="launch?.capsules.length > 0" class="card bg-transparent">
        <div class="card-header">
          <h5><i class="fa-duotone fa-ufo"></i> Capsules</h5>
        </div>
        <div class="card-body">
          <p>{{ launch?.capsules }}</p>
        </div>
      </div>
      <div *ngIf="launch?.payloads.length > 0" class="card bg-transparent">
        <div class="card-header">
          <h5><i class="fa-duotone fa-cart-flatbed-boxes"></i> Payloads</h5>
        </div>
        <div class="card-body">
          <p>{{ launch?.payloads }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="launch?.crew.length > 0" class="col-md-2">
      <ng-container *ngFor="let onBoard of crewMembersOnBoard">
        <div class="crew-members-picture">
          <img src="{{ onBoard?.image }}" title="{{ onBoard?.name }}" />
        </div>
        <div>
          <p>{{ onBoard?.name }}</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
