<body>
  <main class="form-signin">
    <div class="text-center text-muted">
      <h1 class="mt-5">Register</h1>
    </div>
    <audio autoplay>
      <source src="../../../assets/topgun.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <form (submit)="onRegister()">
      <div class="form-group mb-4 text-muted">
        <i class="fa-thin fa-at me-2"></i>
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="name@example.com"
          #userEmail="ngModel"
          [(ngModel)]="email"
          [ngClass]="{
            'is-invalid': userEmail.errors && userEmail.touched
          }"
          onkeyup="this.value = this.value.toLowerCase();"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          required
        />
        <div
          class="invalid-feedback"
          [hidden]="!userEmail.errors?.['required']"
        >
          E-mail required
        </div>
        <div class="invalid-feedback" [hidden]="!userEmail.errors?.['pattern']">
          E-mail invalid
        </div>
      </div>
      <div class="form-group mb-4 text-muted">
        <i class="fa-thin fa-fingerprint me-2"></i>
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          #userPassword="ngModel"
          [(ngModel)]="password"
          [ngClass]="{
            'is-invalid': userPassword.errors && userPassword.touched
          }"
          minlength="5"
          autocomplete="on"
          required
        />
        <div
          class="invalid-feedback"
          [hidden]="!userPassword.errors?.['required']"
        >
          Password required
        </div>
        <div
          class="invalid-feedback"
          [hidden]="!userPassword.errors?.['minlength']"
        >
          Password invalid
        </div>
      </div>
      <div class="d-grid gap-2 mb-4">
        <div class="loginBtn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <input
            type="submit"
            value="Ready for Take Off"
            class="btn btn-sm"
            style="color: #e6e6e6"
          />
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <label class="text-center text-muted">Already have an account?</label>
      <a
        routerLink="/login"
        class="btn btn-sm"
        style="background-color: #000000; color: #e6e6e6"
      >
        Sign in
      </a>
    </div>
  </main>
</body>
