body {
  background-image: url("../../../assets/img/spacex-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh;
}

.modal.fade {
  margin-top: 12%;
}

.card {
  border-radius: 20px;
  opacity: 0.8;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  border-radius: 20px;
  border: solid 0.5px #dc3545;
  background: none;
  color: #ffffff;
}

.form-signin input[type="password"] {
  border-radius: 20px;
  border: solid 0.5px #dc3545;
  background: none;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .modal.fade {
    margin-top: 35%;
  }
}


