<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5">
      <iframe
        src="https://www.youtube.com/embed/watch?v=oCN-BMU9-hM?autoplay=1"
        width="100%"
        height="200"
        frameborder="0"
        class="d-flex justify-content-md-center"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<!-- [src]="spaceXLaunchLiveYouTube | youtubelink" -->
