<body>
  <video autoplay loop muted playsInline>
    <source src="../../../assets/video/spacex-mission.MOV" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <audio autoplay loop>
    <source src="../../../assets/music/topgun.mp3" type="audio/mpeg" />
    <source src="../../../assets/music/topgun.mp3" type="audio/ogg" />
    Your browser does not support the audio element.
  </audio>
  <div class="container">
    <div class="row">
      <div
        class="col-6 text-white"
        style="display: flex; justify-content: center"
      >
        <div class="launch">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <a style="text-decoration: none" routerLink="/launch-list">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <i class="fa-thin fa-rocket-launch"></i> Launches
          </a>
        </div>
      </div>
      <div class="col-6" style="display: flex; justify-content: center">
        <div class="crew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <a style="text-decoration: none" routerLink="crew-list">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Crew <i class="fa-thin fa-user-astronaut"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
