nav {
  background-color: #000000 !important;
  color: #999999 !important;
  border-bottom: 0.5px solid #999999 !important;
}

i {
  color: #ffffff !important;
}

@media screen and (max-width: 995px) {
  .navbar-nav,
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
