.form-control {
  border-radius: 20px !important;
  background: none;
  color: #ffffff;
}

.input-group-text {
  background: none;
  border: none;
}


.card:hover {
  cursor: pointer;
}

.card-img-top {
  min-height: 500px;
  max-height: 500px;
  object-fit: contain;
}