<div class="card bg-transparent border-info my-3">
  <div class="card-content">
    <div class="card-body">
      <div class="text-start">
        <i class="fa-thin fa-rocket-launch"></i> Upcoming Launch
      </div>
      <div *ngFor="let upcomingLaunch of allUpcomingLaunch">
        <div class="text-end">
          <h5 class="text-warning">{{ upcomingLaunch?.name }}</h5>
        </div>
        <div class="text-start">
          <span> {{ upcomingLaunch?.date_utc | date: "long" }}</span>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="offset-3 col-8">
              <div
                simpleCountdown
                [dateTo]="upcomingLaunch?.date_unix"
                [endMessage]="'Launching'"
                styles="
                  font-size: 20px;
                  font-weight: 200;
                  color: #dc3545;
                  padding: 10px 4px;
                  "
              >
                <!-- Can use this if want to make an Launching function (finish)="onfinish()" -->
              </div>
            </div>
          </div>
        </div>
        <!-- <ng-container>
          <div class="text-end">
            <a routerLink="/spacex-live" type="button">
              <app-spacex-live
                [spaceXLaunchLiveYouTube]="upcomingLaunch?.links?.webcast"
              ></app-spacex-live>
              <i class="fab fa-youtube fa-2x" style="color: #fe0101"></i>
            </a>
          </div>
        </ng-container> -->
      </div>
    </div>
  </div>
</div>
