<div class="container" scrollTracker>
  <div class="row">
    <div class="text-white col-md-8">
      <div class="input-group input-group-sm my-5">
        <span style="margin-right: -40px" class="input-group-text text-dark"
          ><i class="fa-thin fa-search" style="color: #fb2056"></i
        ></span>
        <input
          style="padding-left: 40px"
          class="form-control"
          type="text"
          placeholder="Search for launch (ex: Inspiration)"
          [(ngModel)]="searchTerm"
        />
        <button
          class="btn bg-transparent"
          (click)="clearInput()"
          style="margin-left: -40px; z-index: 100; color: #ffffff"
        >
          <i class="fa-thin fa-times"></i>
        </button>
      </div>
      <div class="d-grid gap-2">
        <div class="btn-group" role="group">
          <button
            *ngIf="!isSucceed"
            (click)="displaySucceededLaunches()"
            type="button"
            class="btn btn-outline-success me-2"
          >
            <i class="fa-thin fa-circle-check"></i> Succeed
          </button>
          <button
            *ngIf="isSucceed"
            (click)="displaySucceededLaunches()"
            type="button"
            class="btn btn-success me-2"
          >
            <i class="fa-thin fa-circle-check"></i> Succeed
          </button>
          <button
            *ngIf="!isFailed"
            (click)="displayFailedLaunches()"
            type="button"
            class="btn btn-outline-danger me-2"
          >
            <i class="fa-thin fa-circle-xmark"></i> Failed
          </button>
          <button
            *ngIf="isFailed"
            (click)="displayFailedLaunches()"
            type="button"
            class="btn btn-danger me-2"
          >
            <i class="fa-thin fa-circle-xmark"></i> Failed
          </button>
          <button
            *ngIf="!isUpcoming"
            (click)="displayUpcomingLaunches()"
            type="button"
            class="btn btn-outline-info"
          >
            <i class="fa-thin fa-hourglass"></i> Upcoming
          </button>
          <button
            *ngIf="isUpcoming"
            (click)="displayUpcomingLaunches()"
            type="button"
            class="btn btn-info"
          >
            <i class="fa-thin fa-hourglass"></i> Upcoming
          </button>
        </div>
      </div>
    </div>
    <div class="text-white col-md-4">
      <app-upcominglaunch-list></app-upcominglaunch-list>
    </div>
    <div class="text-white text-center">
      <h2 *ngIf="(allLaunches | searchlaunch: searchTerm)?.length == 0">
        No Launch found!
      </h2>
    </div>
    <div *ngIf="isUpcoming">
      <div class="row row-cols-1 row-cols-md-3">
        <div
          *ngFor="
            let upcomingLaunch of allUpcomingLaunches
              | upcominglaunch: isUpcoming
          "
        >
          <div
            class="card text-white bg-transparent my-2"
            [ngStyle]="{
              'border-color': getMissionStatus(upcomingLaunch?.success)
            }"
          >
            <div class="card-img-overlay">
              <div style="display: flex; justify-content: flex-end">
                <ng-container *ngIf="upcomingLaunch?.upcoming">
                  <p style="color: #696cff">Upcoming</p>
                </ng-container>
              </div>
            </div>
            <br />
            <img
              class="card-img-top"
              src="{{ upcomingLaunch?.links?.patch?.large }}"
              alt="{{ upcomingLaunch?.name }}"
              onError="this.src='/assets/img/spacex-noimage.jpg';"
            />
            <div class="card-body">
              <h3 class="card-title">{{ upcomingLaunch?.name }}</h3>
              <h6 class="card-text text-end">
                <i class="fa-duotone fa-shuttle-space fa-rotate-270"></i>
                Flight # {{ upcomingLaunch?.flight_number }}
              </h6>
            </div>
            <div class="card-footer">
              <div class="text-start">
                <p>
                  <i class="fa-duotone fa-calendar-days"></i>
                  {{ upcomingLaunch?.date_utc | date: "mediumDate" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="allLaunches?.length > 0; else listIsLoading">
      <div class="row row-cols-1 row-cols-md-3">
        <div
          *ngFor="
            let launch of allLaunches
              | passedlaunch
              | searchlaunch: searchTerm
              | succeedlaunch: isSucceed
              | failedlaunch: isFailed
          "
        >
          <div
            routerLink="/launch-details/{{ launch?.id }}"
            [style.pointer-events]="!launch?.upcoming ? 'auto' : 'none'"
            class="card text-white bg-transparent my-2"
            [ngStyle]="{
              'border-color': getMissionStatus(launch?.success)
            }"
          >
            <div class="card-img-overlay">
              <div style="display: flex; justify-content: flex-end">
                <ng-container *ngIf="launch?.success">
                  <p style="color: #1ea97c">Success</p>
                </ng-container>
                <ng-container
                  *ngIf="!launch?.success && launch?.success != null"
                >
                  <p style="color: #dc3545">Failed</p>
                </ng-container>
                <ng-container *ngIf="launch?.upcoming">
                  <p style="color: #696cff">Upcoming</p>
                </ng-container>
              </div>
            </div>
            <br />
            <img
              class="card-img-top"
              src="{{ launch?.links?.patch?.large }}"
              alt="{{ launch?.name }}"
              onError="this.src='/assets/img/spacex-noimage.jpg';"
            />
            <div class="card-body">
              <h3 class="card-title">{{ launch?.name }}</h3>
              <h6 class="card-text text-end">
                <i class="fa-duotone fa-shuttle-space fa-rotate-270"></i>
                Flight # {{ launch?.flight_number }}
              </h6>
            </div>
            <div class="card-footer">
              <div class="text-start">
                <p>
                  <i class="fa-duotone fa-calendar-days"></i>
                  {{ launch?.date_utc | date: "mediumDate" }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #listIsLoading>
  <div class="text-center text-white mt-5">
    <i class="fa-solid fa-loader fa-spin fa-2x"></i>
    <h5>Loading <span class="fa-beat-fade">...</span></h5>
  </div>
</ng-template>

<!-- <div
        *ngFor="
          let launch of allLaunches
            | searchlaunch: searchTerm
            | succeedlaunch: isSucceed
            | failedlaunch: isFailed
            | upcominglaunch: isUpcoming
        "
      >
        <div class="launches-list-table">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <img
              class="list-table-image"
              src="{{ launch?.links?.patch?.large }}"
              alt="{{ launch?.name }}"
              onError="this.src='/assets/img/spacex-noimage.jpg';"
            />
            <div>{{ launch?.name }}</div>
            <div>{{ launch?.flight_number }}</div>
            <div>{{ launch?.date_utc | date: "mediumDate" }}</div>
            <div class="mt-1" *ngIf="launch?.success">
              <p style="color: #1ea97c">Success</p>
            </div>
            <div
              class="mt-1"
              *ngIf="!launch?.success && launch?.success != null"
            >
              <p style="color: #dc3545">Failed</p>
            </div>
            <div class="mt-1" *ngIf="launch?.upcoming">
              <p style="color: #696cff">Upcoming</p>
            </div>
          </div>
        </div>
      </div> -->
