.form-control {
  border-radius: 20px !important;
  background: none;
  color: #ffffff;
}

.input-group-text {
  background: none;
  border: none;
}

.card {
  border-radius: 20px;
}

.card:hover {
  cursor: pointer;
}

.card-img-top {
  padding: 20px;
  max-width:100%;
  min-height: 300px;
  max-height: 300px;
  object-fit: contain;
}

.card-footer {
  display: flex;
}

.launches-list-table {
  color: #ffffff;
  border: 0.5px solid red;
  padding-right: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.launches-list-table:hover {
  background-color: #1a1a1a;
}

.list-table-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}